<!DOCTYPE html>
<html>
<head>
	<title><%= @page %></title>
</head>
<body>
	<nav>
		<p>
			<a href="/items">Item index</a> •
			<a href="/items/add">Add item
		</p>
	</nav>
	<h1>Layout.erb</h1>

	<%= yield %>

</body>
</html>